body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.div-home {
    background-color: #e3e3e3;
    margin-top: 200px
}
